
  

header {
    background-color:black;
    height: 120px;
  }
 
  nav li {
    float: left;
    height: 60px; 
    margin-right: 20px;
    list-style: none;
  }
  
  a {
    font-size: 35px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    outline-style: solid;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  
  th {
    background: #333; 
    color: white; 
    font-weight: bold;
  }
  th, td {
      background: #333;
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  *{
    font-size: 9px;
    background-color: #333;
    color: white;
  }
  
  img{
    width: 20%;
  }

  ul{
      color: mediumslateblue;
  }

  form {
      width: 50%;

  }
