

  body {
    max-width: 900px;
    margin: auto;
    background-color: moccasin;
    
  }

  #our-story {
    background-image: url("/cutter.jpeg");
  }

  #my-h2 {
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: blueviolet;
    align-content: center;
  }

  #my-selector-item {
    font-size: 1em;
    font-family: cursive;
    font-style: italic;
    color: magenta;
    float: right;


  }


  #our-menu > ul > p > li {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  }

  footer{
    background-color: brown;
    color: black;
    font-style: italic;
    font-family: cursive;
    font-size: 15px;
    background-origin: padding-box;
    float: left;
  }

  table{
    background-color: aliceblue;
    color: brown;
    border: groove;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    padding: 1px;
  }



  th, td {
  background: darkgoldenrod;
  padding: 2px; 
  border: 1px groove #222222; 
  text-align: center; 
  }

















